* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
}

header {
  background-image: url("../img/grapich.svg");
  background-repeat: no-repeat;
  background-position: right;
  max-height: 600px;
}

section {
  background: #e5e5e5;
  padding-top: 90px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header__wrapper__menu {
  padding-top: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__wrapper__menu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper__menu__right__item {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: white;
  text-decoration: none;
  padding-right: 30px;
}

.header__wrapper__menu__right__button {
  background: white;
  border-radius: 30px;
  border: none;
}

.login-button-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: black;
  margin: 0 30px;
  cursor: pointer;
}

.header__wrapper__title {
  font-style: normal;
  font-weight: bold;
  font-size: 75px;
  line-height: 95px;
  color: #000000;
  margin-top: 130px;
}

.header__wrapper__text {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 31px;
  text-transform: capitalize;
  color: #000000;
}

.header__wrapper__search {
  position: relative;
  margin-top: 40px;
  padding-bottom: 40px;
}

.header__wrapper__search input {
  background: #f5f6f8;
  border: none;
  width: 400px;
  height: 60px;
  padding-left: 50px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.header__wrapper__search svg {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 18px;
  left: 18px;
}

.logo svg {
  width: 60px;
  height: 60px;
}

.section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}

.section__aside {
  width: 20%;
}

.aside__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside__filter__title {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
}

.aside__filter__item {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
  margin-top: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.aside__filter__item:hover {
  color: #ff971d;
}

.aside__line {
  margin: 40px 0;
}

.section__article {
  background: #f5f6f8;
  -webkit-box-shadow: 0px 15px 80px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 80px rgba(0, 0, 0, 0.1);
  border-radius: 10px 0px 0px 10px;
  width: 70%;
  padding: 40px 24px;
}

.section__article__title {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 40px;
  text-align: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__image {
  margin-right: 20px;
  -webkit-filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.2));
}

.card__info__title {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 35px;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 10px;
  text-align: left;
}

.card__info__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__info__left {
  width: 250px;
}

.card__info__right {
  width: 250px;
}

.card__info__item {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 10px;
}

.card__info__radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 10px;
}

.radio-text {
  margin-left: 5px;
  margin-right: 20px;
}

.card__info__read {
  padding: 5px 38.5px;
  text-decoration: none;
  background: #ddd9f5;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  color: #63a2af;
}

.read-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: bottom;
      -ms-flex-pack: bottom;
          justify-content: bottom;
}

.footer {
  background-color: #000000;
}

.copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 30px 0;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */